/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  /* color: #149ddd; */
  text-decoration: none;
}

a:hover {
  /* color: #37b3ed; */
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;

  background-color: #273c89;
  color: white;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 150px;
  margin-top: 115px;
  margin-bottom: 30px;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;

  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  margin-top: -22px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link:focus,
.nav-link:hover {
  color: white !important;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  padding: 6px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 900;
  font-family: "Aileron", Sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.navbar li a {
  text-align: center;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: white;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  border-bottom: 1px solid #96784a;
}

.loginList {
  border: 1px solid white;
  width: 170px;
}

.loginList:hover > a {
  background-color: white;
  color: #273c89 !important;
}

.loginList:hover {
  background-color: white;
}

.loginList a:hover {
  border-bottom: none;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: absolute;
  right: 39px;
  top: 192px;
  z-index: 9998;
  border: 0;
  font-size: 42px;
  transition: all 0.4s;
  outline: none !important;

  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.HomeNavbar {
  width: 100%;
  height: 253.36px;

  background-color: #273c89;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  display: none;
}

.imageInNavabr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.HomeNavbar img {
  margin-top: -69px;
  width: 159px;
}

.iTypeIcon {
  position: absolute;
  bottom: 30px;
  left: 42px;
}

.i-icon {
  color: white;
  width: 1.25em;
  font-size: 24px;

  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 24px;
}

.i-icon_heart {
  font-weight: 400 !important;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: #dae0e8;
}

.HomeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 370px;
  top: 150px;
  height: 498px;
  overflow: hidden;
}

.rigthSectionOfHomePage {
  background-color: #ecc36c;
  width: 30vw;
  height: 498px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  padding-left: 40px;
  padding-right: 30px;
  height: 100%;
}

.rigthSectionOfHomePage h2 {
  color: #273c89;
  font-family: "Aileron", Sans-serif;

  font-weight: 900;
  margin-bottom: 15px;
  margin-top: -50px;
}

.rigthSectionOfHomePage p {
  color: #273c89;
  font-family: "Aileron", Sans-serif;
  font-size: 20px;
  margin-top: 25px;
  line-height: 24px;
}

.leftSectionOfHomePage {
  position: relative;
  width: 40vw;
  height: 124%;
  overflow: hidden;
  padding-top: 56.25%;
}

.waitlist {
  background-color: #273c89;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 42px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -64px;
}

.waitlist:hover {
  background-color: #0e4158;
}

.responsive-iframe {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  border: none;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (min-width: 300px) {
  #hero {
    margin-left: -10px;
  }
}

@media (max-width: 1024px) {
  .nav-menu a,
  .nav-menu a:focus {
    padding: 8px 15px;

    font-size: 20px;
  }
}

@media (max-width: 1199px) {
  .HomeNavbar {
    display: flex;
  }

  #header {
    width: 100vw;
    left: -100vw;
  }

  .HomeSection {
    flex-direction: column;
    left: 0px;
    right: 0;
    top: 150px;

    height: 100%;
    overflow: hidden;
    top: 306px;
  }

  .rigthSectionOfHomePage {
    height: 100%;
    width: 80vw;
    margin-bottom: 8px !important;
  }

  .leftSectionOfHomePage {
    height: 100%;
    width: 80vw;
  }

  .waitlist {
    margin-bottom: 60px;
  }

  .rigthSectionOfHomePage h2 {
    margin-top: 0px;
  }

  .responsive-iframe {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #hero {
    height: 107vh;
  }
}

@media (max-width: 600px) {
  #hero {
    height: 107vh;
  }

  .waitlist {
    margin-bottom: 0px;
  }

  .HomeSection {
    height: 100%;
  }

  .rigthSectionOfHomePage {
    padding: 10px;
    /* position: relative; */
  }

  .paraOfrightSection {
    margin-top: -18px !important;
  }

  .rigthSectionOfHomePage h2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .rigthSectionOfHomePage p {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .responsive-iframe {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 500px) {
  .waitlist {
    width: 105%;
    margin-left: -9px;
  }
}

@media (max-width: 470px) {
  .waitlist {
    width: 106%;
    margin-left: -9px;
  }
}

@media (max-width: 370px) {
  .waitlist {
    width: 107%;
    margin-left: -9px;
  }
}

.services {
  background-color: #0e2442 !important;
  color: #b2b6b4 !important;
  height: 100vh;
}
